# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\스프링_프로젝트_moduls\login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
